.image__editor {
  display: flex;
  flex-direction: column;
  flex: 1;
  &__toolbar {
    margin: 10px;
  }
  &__cropper {
    &__info {
      .input-group {
        margin-bottom: 5px;
      }
    }
  }
}