/**
Dashboard UI
 */
@import 'variables';
@import './node_modules/bootstrap/scss/bootstrap.scss';
@import 'dashboard/dashboard';
@import "posts";
@import "editor";
@import './node_modules/react-redux-toastr/src/styles/index';
//Fix for button showing on top of ReactModal.
.input-group-prepend .btn,
.input-group-append .btn {
  z-index: 0 !important;
}

@import "files";
@import "image-editor";
@import "image-gallery";
.image-uploaded-preview {
  max-height: 400px;
}

.mh-200 {
  max-height: 200px !important;
}
.flex-0{
  flex: 0;
}